* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: radial-gradient(circle at top, #020617, #020617);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.converter {
    background: #050e30;
    padding: 30px;
    border-radius: 16px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
}
h1 {
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
.selects { /* LINHA DAS MOEDAS */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
    width: 100%;
}
.selects select {
    flex: 1;
    min-width: 0;
    height: 44px;
    padding: 0 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.invert {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #1f2933;
    color: #22c55e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invert:hover {
    background: #374151;
    transform: rotate(180deg);
}
#resultado {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}